[Unit]
Description=Multisig Deploy Service

[Service]
Restart=always
RestartSec=3
WorkingDirectory=/root/multisig.notional.ventures
ExecStart=/root/.nvm/versions/node/v18.9.0/bin/npminstall && /root/.nvm/versions/node/v18.9.0/bin/npmrun build && /root/.nvm/versions/node/v18.9.0/bin/npmstart

[Install]
WantedBy=multi-user.target
