[Unit]
Description=Multisig Deploy Service

[Service]
Restart=always
RestartSec=3
ExecStart=$(which npm) start

[Install]
WantedBy=multi-user.target




