html,
body {
  padding: 0;
  margin: 0;
  font-family: Comfortaa;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.ant-notification-notice-message {
  font-size: 20px !important;
}

.ant-notification-notice-close {
  color: #000000 !important;
  font-size: 16px !important;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  display: none;
  background: transparent
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #8f8f8f; 
  border-radius: 10px;
}

.hover-nav-button:hover {
  font-size: 1.5em;
}

