# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions
name: Deploy

on:
  push:
    branches: [ main ]
  pull_request:
    types: [ opened ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [17.x]
    
    steps:
    - name: Checkout
      uses: actions/checkout@v2   

    - name: Update the repo from web server
      uses: appleboy/ssh-action@v0.1.4      
      env:
        NODE_OPTIONS: --openssl-legacy-provider
        CI: false
      with:
        host: ${{ secrets.WEB_SERVER }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.PRIV_KEY }}
        passphrase: ${{ secrets.PASSPHRASE }}
        envs: CI, NODE_OPTIONS
        script: |
          cd ~/multisig.notional.ventures
          bash deploy.sh
          
          
